/changelog
/control
/*.debhelper.log
/liboxen-snapshot[0-9]*
/tmp
/.debhelper/
/oxen-stagenet-node.postrm.debhelper
/liboxen-snapshot[0-9]*/
/liboxen-wallet-snapshot[0-9]*
/liboxen-snapshot-dev/
/oxend-snapshot/
/oxen-stagenet-node/
/oxen-wallet-cli-snapshot/
/oxen-wallet-rpc-snapshot/
/oxen-blockchain-tools-snapshot/
/*.substvars
/debhelper-build-stamp
/files
